/* Modal wrapper */
.modal-overlay {
  opacity: 0;
  animation: fadeIn 0.4s forwards ease;
}

.modal-overlay.fade-out {
  animation: fadeOut 0.4s forwards ease;
}

/* Modal box */
.modal-box {
  opacity: 0;
  transform: scale(0.9);
  animation: popIn 0.4s forwards ease;
}

.modal-box.fade-out {
  animation: popOut 0.4s forwards ease;
}

/* ANIMATIONS */
@keyframes fadeIn {
  to { opacity: 1; }
}

@keyframes fadeOut {
  to { opacity: 0; }
}

@keyframes popIn {
  to { opacity: 1; transform: scale(1); }
}

@keyframes popOut {
  to { opacity: 0; transform: scale(0.9); }
}
