@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
@import "tailwindcss";


@theme {
  --font-Crimson: "Crimson Text", sans-serif; 
}

#root {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#5a47ce, #232323 80%);
}

body {
  margin: 0;
}

.outline-text {
  -webkit-text-stroke: 1px white;
}

.outline-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}
.text-gradient {
  background: linear-gradient(to right, #4facfe, #00f2fe);
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
}
